# Environment
*.env
!.env-*
**/.env
**/.env.*

# Dependencies
node_modules

# Build output
dist
build
dev-dist

# Tooling caches
.turbo
.cache/
.cache/.eslintcache
.eslint-config-inspector
.cache/tsbuildinfo.json

# OS files
.DS_Store
.AppleDouble
.LSOverride

# Compiled artifacts
*.com
*.class
*.dll
*.exe
*.o
*.so

# Secrets
*.der
*.key
*.pem
