name: Typecheck

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened

concurrency:
    group: typecheck-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    typecheck:
        if: ${{ github.actor != 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                typecheck-commands:
                    - 'npm run typecheck'

        steps:
            - uses: krudi/reusable-actions/.github/actions/github-checkout@main
            - uses: krudi/reusable-actions/.github/actions/node-setup@main
              with:
                  cache: npm
                  node_version_file: .nvmrc
            - uses: krudi/reusable-actions/.github/actions/node-install@main

            - uses: krudi/reusable-actions/.github/actions/ci-command@main
              with:
                  command: ${{ matrix.typecheck-commands }}
